name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
      - name: checkout Code
        uses: actions/checkout@v2

      - name: Build Docker image
        run: docker build -t hello-app .

      - name: Run Docker container
        run: docker run hello-app
        
